
.contact-title{
    padding-top: 50px;
    padding-bottom: 25px;
    color: #909090;
}
.contact-title h1{
    font-size: 32px;
    line-height: 10px ;
}
.contact-title h2{
    font-size: 16px;
    text-align: center;
}

.contact-form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
.form-control{
    width: 600px;
    
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #b9b9b9;
    font-size: 18px;
    margin-bottom: 16px;
}
input{
    height: 45px;

}
form .submit{
    background: #70a3f0;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .form-control, .submit {
      width: 100%; /* Make the form elements take up the full width */
    }
  }